# ---------------- ENVIRONMENT ----------------
.env
*.env

# ---------------- PYTHON ----------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# ---------------- VIRTUAL ENVIRONMENT ----------------
venv/
env/
.venv/
watchitup_env/

# ---------------- DJANGO ----------------
*.log
db.sqlite3
media/
staticfiles/
static_root/

# ---------------- IDE & OS FILES ----------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# ---------------- TESTING ----------------
coverage/
htmlcov/
.pytest_cache/