# Environment variables
.env
.env.*
!.env.example

# Virtual Environment
watchitup_env/
venv/
env/
ENV/

# Database
*.sqlite3
db.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Django
*.log
local_settings.py
staticfiles/
media/

# IDEs
.vscode/
.idea/
*.swp
*.swo